# **Gold Price Prediction (2013-2023)**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

from sklearn.model_selection import train_test_split,KFold,StratifiedKFold,cross_val_score,GridSearchCV
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Camerin DSML/Gold Price (2013-2023).csv')
df.head()

         Date     Price      Open      High       Low     Vol. Change %
0  12/30/2022  1,826.20  1,821.80  1,832.40  1,819.80  107.50K    0.01%
1  12/29/2022  1,826.00  1,812.30  1,827.30  1,811.20  105.99K    0.56%
2  12/28/2022  1,815.80  1,822.40  1,822.80  1,804.20  118.08K   -0.40%
3  12/27/2022  1,823.10  1,808.20  1,841.90  1,808.00  159.62K    0.74%
4  12/26/2022  1,809.70  1,805.80  1,811.95  1,805.55      NaN    0.30%

**Preprocessing**

In [ ]:
df.shape

(2583, 7)

In [ ]:
df.isna().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        5
Change %    0
dtype: int64

In [ ]:
df=df.dropna()
df.head()

         Date     Price      Open      High       Low     Vol. Change %
0  12/30/2022  1,826.20  1,821.80  1,832.40  1,819.80  107.50K    0.01%
1  12/29/2022  1,826.00  1,812.30  1,827.30  1,811.20  105.99K    0.56%
2  12/28/2022  1,815.80  1,822.40  1,822.80  1,804.20  118.08K   -0.40%
3  12/27/2022  1,823.10  1,808.20  1,841.90  1,808.00  159.62K    0.74%
5  12/23/2022  1,804.20  1,801.00  1,812.20  1,798.90  105.46K    0.50%

In [ ]:
df=df.drop(columns='Change %')

In [ ]:
df.isna().sum()

Date     0
Price    0
Open     0
High     0
Low      0
Vol.     0
dtype: int64

In [ ]:
df.dtypes

Date     object
Price    object
Open     object
High     object
Low      object
Vol.     object
dtype: object

In [ ]:
#converting price values from object to float
cols=['Price','Open','High','Low']

for c in cols:
  df[c]=(
      df[c].astype(str).str.replace(',',"").str.replace('$',"")
  )
  df[c]=pd.to_numeric(df[c],errors='coerce')

In [ ]:
#converting volumn from object eg: 100k to corresponding numeric value 100000
def parse_volume(x):
    x=str(x).strip().upper()
    if x.endswith('K'):
        return float(x[:-1]) * 1000
    elif x.endswith('M'):
        return float(x[:-1]) * 1_000_000
    elif x.endswith('B'):
        return float(x[:-1]) * 1_000_000_000
    else:
        return float(x)   # if no suffix

In [ ]:
df['Vol.']=df['Vol.'].apply(parse_volume)

In [ ]:
#converting date to seconds
df['Date']=pd.to_datetime(df['Date'])
df['Date (Seconds)']=df['Date'].astype('int64') // 10**9   # convert to seconds

In [ ]:
df=df.drop(columns='Date')

In [ ]:
df.head()

    Price    Open    High     Low      Vol.  Date (Seconds)
0  1826.2  1821.8  1832.4  1819.8  107500.0      1672358400
1  1826.0  1812.3  1827.3  1811.2  105990.0      1672272000
2  1815.8  1822.4  1822.8  1804.2  118080.0      1672185600
3  1823.1  1808.2  1841.9  1808.0  159620.0      1672099200
5  1804.2  1801.0  1812.2  1798.9  105460.0      1671753600

In [ ]:
df.dtypes

Price             float64
Open              float64
High              float64
Low               float64
Vol.              float64
Date (Seconds)      int64
dtype: object

In [ ]:
x=df.drop(columns='Price')
x.head()

     Open    High     Low      Vol.  Date (Seconds)
0  1821.8  1832.4  1819.8  107500.0      1672358400
1  1812.3  1827.3  1811.2  105990.0      1672272000
2  1822.4  1822.8  1804.2  118080.0      1672185600
3  1808.2  1841.9  1808.0  159620.0      1672099200
5  1801.0  1812.2  1798.9  105460.0      1671753600

In [ ]:
y=df['Price']
y.head()

0    1826.2
1    1826.0
2    1815.8
3    1823.1
5    1804.2
Name: Price, dtype: float64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=11)

In [ ]:
scale=StandardScaler()
x_train=scale.fit_transform(x_train)
x_test=scale.fit_transform(x_test)

**Model Selection**

In [ ]:
LR_score=cross_val_score(LinearRegression(),X=x,y=y,cv=5)
DT_score=cross_val_score(DecisionTreeRegressor(),X=x,y=y,cv=5)
RF_score=cross_val_score(RandomForestRegressor(),X=x,y=y,cv=5)
KN_score=cross_val_score(KNeighborsRegressor(),X=x,y=y,cv=5)
AD_score=cross_val_score(AdaBoostRegressor(),X=x,y=y,cv=5)
GB_score=cross_val_score(GradientBoostingRegressor(),X=x,y=y,cv=5)
XG_score=cross_val_score(XGBRegressor(),X=x,y=y,cv=5)
svm_score=cross_val_score(SVR(),X=x,y=y,cv=5)

In [ ]:
print(f'Linear Regression : {np.round(np.mean(LR_score)*100,2)}%')
print(f'Decision Tree : {np.round(np.mean(DT_score)*100,2)}%')
print(f'Random Forest : {np.round(np.mean(RF_score)*100,2)}%')
print(f'KNN : {np.round(np.mean(KN_score)*100,2)}%')
print(f'Adaboost : {np.round(np.mean(AD_score)*100,2)}%')
print(f'Gradient Boost : {np.round(np.mean(GB_score)*100,2)}%')
print(f'XGB : {np.round(np.mean(XG_score)*100,2)}%')
print(f'SVM : {np.round(np.mean(svm_score)*100,2)}%')

Linear Regression : 99.61%
Decision Tree : 95.64%
Random Forest : 96.45%
KNN : -115.07%
Adaboost : 90.24%
Gradient Boost : 96.0%
XGB : 95.0%
SVM : -1250.06%

* Random Forest : 96.45%
* Decision Tree : 95.64%
* Gradient Boost : 96.0%
* XGB : 95.0%
* Adaboost : 90.24%

**Model Evaluation**

In [ ]:
rf=RandomForestRegressor()
forest_params=[{'max_depth':list(range(10,15)),'max_features':list(range(0,15))}]

In [ ]:
clf=GridSearchCV(rf,forest_params,cv=5,scoring='r2')
clf.fit(x_train,y_train)
print(clf.best_params_)
print(clf.best_score_)

/usr/local/lib/python3.12/dist-packages/sklearn/model_selection/_validation.py:528: FitFailedWarning:
25 fits failed out of a total of 375.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sklearn/model_selection/_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.12/dist-packages/sklearn/base.py", line 1382, in wrapper
    estimator._validate_params()
  File "/usr/local/lib/python3.12/dist-packages/sklearn/base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "/usr/local/lib/python3.12/dist-packages/sklearn/utils/_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 0 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.12/dist-packages/sklearn/model_selection/_search.py:1108: UserWarning: One or more of the test scores are non-finite: [       nan 0.99869453 0.99902708 0.99909436 0.99913648 0.99909935
 0.99911164 0.99911099 0.99909744 0.99910384 0.99910709 0.9991123
 0.9991092  0.99911787 0.9991011         nan 0.99874648 0.99902606
 0.99910857 0.99914811 0.99911746 0.99912105 0.99911014 0.99912649
 0.99911067 0.99910956 0.99911596 0.99911402 0.99910987 0.99911206
        nan 0.99873675 0.99903188 0.99910984 0.99913262 0.99911781
 0.99912392 0.99910884 0.9991343  0.99911093 0.99912705 0.99910947
 0.99913167 0.99911406 0.99910355        nan 0.9987449  0.99902946
 0.99909909 0.9991288  0.99910949 0.99912348 0.99910376 0.99910909
 0.99911794 0.99911813 0.99912595 0.99912235 0.99912212 0.99912015
        nan 0.99872639 0.99902626 0.99910412 0.99913155 0.99909702
 0.99912038 0.99912106 0.99911115 0.99910245 0.99911053 0.99912172
 0.9991109  0.99911113 0.99911499]
  warnings.warn(

{'max_depth': 11, 'max_features': 4}
0.9991481065367436

* {'max_depth': 11, 'max_features': 4}
* 0.9991481065367436

In [ ]:
gb=GradientBoostingRegressor()
gb_params=[{'max_depth':list(range(2,7)),'learning_rate':[i/100 for i in range(1,21)]}] #(0.01-0.2)

In [ ]:
clf=GridSearchCV(gb,gb_params,cv=5,scoring='r2')
clf.fit(x_train,y_train)
print(clf.best_params_)
print(clf.best_score_)

{'learning_rate': 0.18, 'max_depth': 5}
0.9991704113134734

* {'learning_rate': 0.18, 'max_depth': 5}
* 0.999170411313473

In [ ]:
xg=XGBRegressor()
xg_params=[{'colsample_bytree':[i/10 for i in range(4,11)],'gamma':list(range(0,10))}]

In [ ]:
clf=GridSearchCV(xg,xg_params,scoring='r2')
clf.fit(x_train,y_train)
print(clf.best_params_)
print(clf.best_score_)

{'colsample_bytree': 1.0, 'gamma': 2}
0.9990303564849403

* {'colsample_bytree': 1.0, 'gamma': 2}
* 0.999030356484940

As most of the model's accuracy is close to the perfect score we choose Adaboost

**Model Fixed**

In [ ]:
model=AdaBoostRegressor()
model.fit(x_train,y_train)

pred_y=model.predict(x_test)
pred_y

array([1320.72382671, 1317.70165563, 1284.20724638, 1362.15090909,
       1262.43642173, 1334.49435028, 1674.52055556, 1883.79446809,
       1334.49435028, 1197.42870159, 1308.95888502, 1324.51983471,
       1447.82237443, 1253.52633136, 1367.36149425, 1362.70222841,
       1231.3399635 , 1236.07463127, 1780.95318182, 1362.15090909,
       1201.75957944, 1760.76747967, 1280.3225256 , 1362.15090909,
       1674.52055556, 1284.20724638, 1499.65164835, 1928.42750809,
       1939.65671642, 1766.92610619, 1801.36969697, 1407.89420849,
       1498.72118644, 1284.20724638, 1668.4583691 , 1231.3399635 ,
       1843.40557769, 1231.3399635 , 1608.97391304, 1324.51983471,
       1407.89420849, 1248.87622378, 1129.3997555 , 1324.51983471,
       1231.3399635 , 1317.70165563, 1883.79446809, 1224.03157895,
       1218.68058252, 1711.65074627, 1939.65671642, 1317.70165563,
       1201.75957944, 1231.3399635 , 1329.95498891, 1934.64555556,
       1306.48235294, 1248.87622378, 1363.38516129, 1237.84233261,
       1204.23076923, 1362.15090909, 1103.74285714, 1716.04      ,
       1103.74285714, 1103.74285714, 1284.20724638, 1934.64555556,
       1280.3225256 , 1267.72310469, 1663.26040609, 1800.4354067 ,
       1160.92387097, 1939.65671642, 1280.3225256 , 1231.3399635 ,
       1939.65671642, 1933.57205882, 1515.33486239, 1904.64864048,
       1696.178     , 1779.490625  , 1801.084375  , 1315.03964646,
       1850.49365079, 1334.49435028, 1933.57205882, 1231.3399635 ,
       1933.57205882, 1302.31085714, 1264.03106061, 1505.5226601 ,
       1865.7359447 , 1749.86082949, 1766.92610619, 1825.16489796,
       1834.77256098, 1207.26923077, 1787.49620853, 1311.36691542,
       1716.04      , 1284.20724638, 1904.64864048, 1317.70165563,
       1393.65088968, 1595.43386243, 1197.42870159, 1195.26649077,
       1195.26649077, 1846.58658009, 1231.3399635 , 1696.178     ,
       1302.31085714, 1207.26923077, 1313.13448276, 1341.83132911,
       1595.43386243, 1231.3399635 , 1258.1173913 , 1267.72310469,
       1843.40557769, 1284.20724638, 1231.3399635 , 1204.23076923,
       1231.3399635 , 1380.0812709 , 1379.82083333, 1367.36149425,
       1829.69189189, 1202.88994565, 1145.0483965 , 1674.52055556,
       1258.1173913 , 1329.95498891, 1933.57205882, 1865.7359447 ,
       1284.20724638, 1103.74285714, 1341.83132911, 1674.52055556,
       1258.1173913 , 1853.54808511, 1284.55422741, 1470.74545455,
       1103.74285714, 1280.3225256 , 1766.92610619, 1805.21986063,
       1204.23076923, 1766.92610619, 1195.26649077, 1853.54808511,
       1160.92387097, 1284.20724638, 1805.21986063, 1253.50695364,
       1253.50695364, 1284.20724638, 1231.3399635 , 1742.40404412,
       1248.87622378, 1701.75263158, 1499.65164835, 1245.28788396,
       1865.7359447 , 1204.23076923, 1218.68058252, 1561.29285714,
       1305.16289593, 1218.68058252, 1231.3399635 , 1231.3399635 ,
       1119.38868502, 1843.40557769, 1805.21986063, 1103.74285714,
       1284.20724638, 1231.3399635 , 1231.3399635 , 1236.07463127,
       1309.08420168, 1138.83896458, 1231.3399635 , 1266.85877034,
       1266.85877034, 1189.05068871, 1801.36969697, 1511.49099526,
       1850.49365079, 1231.3399635 , 1362.15090909, 1280.3225256 ,
       1317.70165563, 1928.28461538, 1779.490625  , 1645.23264463,
       1987.34963504, 1237.84233261, 1231.3399635 , 1231.3399635 ,
       1204.23076923, 1883.79446809, 1716.04      , 1794.30386266,
       1883.36757813, 1231.3399635 , 1231.3399635 , 1231.3399635 ,
       1284.20724638, 1129.3997555 , 1231.3399635 , 1362.70222841,
       1139.12801047, 1347.56856436, 1144.12377622, 1529.08863636,
       1825.16489796, 1499.65164835, 1718.8254717 , 1266.85877034,
       1825.16489796, 1231.3399635 , 1313.13448276, 1834.77256098,
       1284.55422741, 1195.26649077, 1231.3399635 , 1237.84233261,
       1858.80297398, 1846.70358423, 1362.15090909, 1266.85877034,
       1341.83132911, 1231.3399635 , 1139.12801047, 1762.45859375,
       1324.51983471, 1883.79446809, 1800.4354067 , 1284.20724638,
       1237.84233261, 1280.3225256 , 1231.3399635 , 1813.96428571,
       1794.30386266, 1231.3399635 , 1264.03106061, 1617.73663366,
       1716.04      , 1237.84233261, 1284.20724638, 1362.15090909,
       1231.3399635 , 1825.16489796, 1895.4398977 , 1334.49435028,
       1207.26923077, 1189.08434066, 1482.78178295, 1380.0812709 ,
       1365.3627907 , 1769.13231707, 1231.3399635 , 1280.3225256 ,
       1284.20724638, 1904.64864048, 1231.3399635 , 1302.31085714,
       1768.37638889, 1284.20724638, 1696.178     , 1362.15090909,
       1189.08434066, 1341.83132911, 1883.79446809, 1160.92387097,
       1754.71322957, 1568.38854167, 1696.178     , 1317.70165563,
       1334.49435028, 1814.59955752, 1103.74285714, 1362.15090909,
       1258.1173913 , 1347.56856436, 1231.3399635 , 1696.178     ,
       1280.3225256 , 1309.08420168, 1280.3225256 , 1324.51983471,
       1913.92313167, 1498.72118644, 1805.21986063, 1696.178     ,
       1249.36689977, 1731.76914894, 1771.76692308, 1362.15090909,
       1747.61643836, 1754.71322957, 1248.87622378, 1231.3399635 ,
       1254.65589124, 1309.08420168, 1324.51983471, 1231.3399635 ,
       1846.58658009, 1303.86214099, 1602.22168675, 1362.15090909,
       1195.26649077, 1813.96428571, 1284.20724638, 1788.02176166,
       1379.82083333, 1883.79446809, 1308.95888502, 1284.20724638,
       1780.95318182, 1284.55422741, 1231.3399635 , 1302.31085714,
       1231.3399635 , 1771.76692308, 1347.56856436, 1207.26923077,
       1883.79446809, 1195.26649077, 1904.64864048, 1932.54652778,
       1303.15815603, 1499.65164835, 1825.16489796, 1218.68058252,
       1139.12801047, 1524.34481132, 1138.83896458, 1284.20724638,
       1324.51983471, 1231.3399635 , 1317.70165563, 1267.77456446,
       1302.31085714, 1103.74285714, 1608.97391304, 1749.86082949,
       1189.05068871, 1595.43386243, 1231.3399635 , 1499.65164835,
       1204.23076923, 1201.75957944, 1608.97391304, 1309.08420168,
       1347.56856436, 1365.3627907 , 1280.3225256 , 1284.20724638,
       1245.28788396, 1272.03467337, 1284.20724638, 1362.15090909,
       1656.53877551, 1309.08420168, 1600.01078431, 1284.20724638,
       1334.49435028, 1928.28461538, 1217.66010101, 1308.95888502,
       1103.74285714, 1103.74285714, 1749.86082949, 1248.87622378,
       1846.70358423, 1731.76914894, 1237.84233261, 1214.9796748 ,
       1341.83132911, 1939.65671642, 1883.79446809, 1284.20724638,
       1211.73284314, 1103.74285714, 1192.67719298, 1231.3399635 ,
       1608.97391304, 1231.3399635 , 1696.178     , 1499.65164835,
       1231.3399635 , 1934.64555556, 1231.3399635 , 1231.3399635 ,
       1769.13231707, 1994.93904762, 1231.3399635 , 1231.3399635 ,
       1400.26375546, 1825.16489796, 1248.87622378, 1505.5226601 ,
       1201.75957944, 1272.03467337, 1696.178     , 1904.64864048,
       1933.57205882, 1829.46145455, 1237.84233261, 1711.65074627,
       1904.64864048, 1315.56009852, 1362.15090909, 1341.83132911,
       1160.92387097, 1731.76914894, 1262.92054264, 1813.96428571,
       1103.74285714, 1224.03157895, 1262.92054264, 1801.36969697,
       1499.65164835, 1284.20724638, 1400.26375546, 1682.1387234 ,
       1696.178     , 1160.92387097, 1284.20724638, 1883.32713178,
       1898.85342857, 1160.92387097, 1249.36689977, 1214.9796748 ,
       1236.07463127, 1224.03157895, 1771.87142857, 1499.65164835,
       1280.3225256 , 1207.26923077, 1231.3399635 , 1407.89420849,
       1814.39850187, 1231.3399635 , 1844.32109091, 1103.74285714,
       1365.3627907 , 1231.3399635 , 1341.83132911, 1805.21986063,
       1284.55422741, 1656.53877551, 1306.48235294, 1595.43386243,
       1231.3399635 , 1306.48235294, 1211.73284314, 1306.48235294,
       1766.92610619, 1266.85877034, 1499.65164835, 1716.04      ,
       1363.38516129, 1144.12377622, 1103.74285714, 1749.86082949,
       1284.55422741, 1329.95498891, 1237.84233261, 1362.15090909,
       1195.26649077, 1602.22168675, 1844.32109091, 1536.74621212,
       1231.3399635 , 1103.74285714, 1853.54808511, 1470.74545455,
       1231.3399635 , 1231.3399635 , 1883.79446809, 1834.77256098,
       1369.41055901, 1334.49435028, 1231.3399635 , 1498.72118644,
       1189.05068871, 1731.76914894, 1207.26923077, 1347.56856436,
       1103.74285714, 1825.16489796, 1254.65589124, 1266.85877034,
       1284.20724638, 1768.37638889, 1308.95888502, 1211.73284314,
       1311.36691542, 1103.74285714, 1262.92054264, 1214.9796748 ,
       1204.23076923, 1248.87622378, 1341.83132911, 1231.3399635 ,
       1262.43642173, 1805.21986063, 1805.21986063, 1682.1387234 ,
       1904.64864048, 1249.36689977, 1306.48235294, 1362.15090909])

In [ ]:
a=model.score(x_test,y_test)
print(f'Accuracy : {np.round((a*100),2)}%')

Accuracy : 99.7%

**Deployment**

In [ ]:
from datetime import datetime

Open=float(input("Enter the open price: "))
High=float(input("Enter the highest price: "))
Low=float(input("Enter the lowest price: "))
Vol=float(input("Enter the volume: "))
date_str=input("Enter the date (YYYY-MM-DD): ")

# Parse the string into a datetime object
Date=datetime.strptime(date_str, "%Y-%m-%d")
Date=Date.timestamp()

Enter the open price: 85000
Enter the highest price: 90000
Enter the lowest price: 75000
Enter the volume: 120
Enter the date (YYYY-MM-DD): 2025-11-26

In [ ]:
final={
    "Open":[Open],
    "High":[High],
    "Low":[Low],
    "Vol.":[Vol],
    "Date (Seconds)":[Date]
}
data=pd.DataFrame(final,columns=x.columns)
data_scaled=scale.transform(data)

In [ ]:
a=model.predict(data_scaled)
print(f'Price will be : {a}Rs')

Price will be : Rs[2004.93534483]